/*container_12{
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}*/
/*header start*/
.img{
	float:right;
}
.div1{
	width:1000px;
	margin-left:auto;
	margin-right: auto;
	background-color: rgb(237,224,167);
	margin-top: 10px;
}
.navigation_list{
	margin-top: 70px;
	text-align: center;
	/*padding:30px;*/
	/*word-spacing: 10px;*/
}
body{
	background-color: #e3e3e3;
}
/*nav{ background-color: orange; 
	  margin-right: 5px;}*/
nav li{
	display: inline-flex;
	padding-right: 50px;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	/*margin-top: 250px;*/
}
ul a{
	text-decoration: none;
}
ul a:hover{
	text-decoration: underline;
	color: red;
	background-color: cyan;
}
/*header ended*/
body{
	background: url("../images/bg.jpg") fixed;
	/*background=url("images/bg.jpg") no-repeat;*/
}
.img2{
	 /*margin-left:464px;
	 margin-right: 465px;*/
	 margin-left: auto;
	 margin-right: auto;
	 float: right;
}
.getinvolved_div{
	color: orange;
	/*margin-top:00px;*/
	font-size:60px;
	font-family:Comic Sans MS;
    text-shadow: 5px 10px 10px blue;
    text-align: center;
}
.head{
	font-size: 15px;
}
.p{
	color:white;
    margin-left:auto;
	margin-right: auto;
	font-size: 20px;
	margin-top: 10px;
}
.quote{
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
}
.para{
	color:white;
	/*margin-left: 500px;
	margin-right: 500;*/
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 10px;*/
	margin-top: 20px;
	font-size: 20px;

}
.vol{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}
.volhead{
	font-size: 30px;
	font-weight: bold;
	color: white;
	align-center;
	margin-left: 75px;
}
.join{
	/*color: white;*/
	font-weight: bold;
	font-size: 20px;
    margin-left: 160px;
    margin-top: 30px; 
    text-align: center;
    margin-bottom: 50px;
}
.join a:hover{
	background-color:green;
	color: white;
}
.blockquote{
	color: white;
	font-size: 20px;
	margin-left: 70px;
	font-style: italic;
	color: orange;
}
/*.mission{
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 500px;
}*/
.board{
	font-size: 30px;
	font-weight: bold;
	color: orange;
	/*align-center;*/
	margin-left: 100px;	
	margin-top: 30px;
}
.board1{
	font-size: 20px;
	font-weight: bold;
	color: orange;
	align-center;
	margin-left: 80px;	
	margin-top: 30px;
}
.director{
	width: 280px;
	margin-top: 30px;
	margin-left: 25px;
}
.p1{
	color:white;
    margin-left:24px;
	/*margin-right: auto;*/
	font-size: 20px;
	margin-top: 10px;
}
.more{
	margin-left: 800px;
	font-size: 20px;
}
.more a:hover{
	background-color:green;
	color: white;	
}
.reg{
	
	text-align: center;
	background-color:rgb(237,224,167);
	width:750px;
	border: 20px dotted;
	padding: 20px;
	margin-left:auto;
	font-style: italic;
	font-size: 30px;
	margin-top: 100px;

}
.foot{
	color:red;
	margin-top: 20px;
	/*width: 930px;*/
	height: 500px;
	/*margin-left: 30px;*/
	background-color: rgb(237,224,167);
	font-size: 20px;
}
.foot li:hover{
	color: blue;
}
.foot li{
	margin-top: 20px;
}
/*.copy{
	margin-left: 500px;
	font-style: italic;
}*/
.hero{
	color: orange;
	margin-top:10px;
	font-size:60px;
	font-family:monospace;
    /*text-shadow: 5px 10px 10px blue;*/
	text-shadow: 5px; 10px; 10px; lightgrey;
	background-color: rgb(237,224,167);
}
.herotext{
	color: white;
	margin-top: 20px;
	font-size: 20px;
	font-family: cursive;
	text-align: center;
}
.pledgequote{
	font-size: 30px;
	color: orange;
	font-style: italic;
	margin-top:30px;
	text-align: center;
}